<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD2od0z19x8wfV-PCJzumWeqxJxsL8w1oM</string>
	<key>GCM_SENDER_ID</key>
	<string>790129469615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.agrinodi.agrixona24.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>agrixona24</string>
	<key>STORAGE_BUCKET</key>
	<string>agrixona24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790129469615:ios:a0ac903aa83b54b7c00c5a</string>
</dict>
</plist>